*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 660px;
    width: 80%;
    border: 5px solid red;
    display: flexblock;
}
.colblue {
    height: 200px;
    width: 100%;
    border: 5px dotted blue;
}
.colwhite {
    height: 460px;
    width: 100%;
    border: 5px dotted black;
}
.dot {
    height: 100px;
    width: 100px;
    background-color: green;
    border: 5px dotted black;
    border-radius: 50%;
    display: inline-block;
}
#usericon {

}
#username {

}
#location {

}
#mapmarker {

}
#titles {

}
#bio {

}
#edit{
    
}
#gear{
    height: 12px;
    width: 12px;
}
h1  {
    color: black;
    font-family: sans-serif;
    font-weight: 500;
}
h2{
    color: black;
    font-family: sans-serif;
    font-weight: 400;
}
p{

}
a{
    color: cornflowerblue;
    margin-left: 5px;
}